
@media screen and (max-width: 980px) {
    header .menu-desktop, header .btn-contato{
        display: none;
    }
    
}
@media screen and (max-width: 1270px){

header .logo img{
    max-width: 50px;
    margin-top: -20px;
   
}
    /* responsividade Hero */
.hero-site .txt-hero h1{
    font-size: 1.5em;
    line-height: 30px;

}
.hero-site .txt-hero p{
    font-size: 15px;
    font-weight: 300;
    margin: 20px 0;
    width: 290px;
    text-align: justify;
}
.hero-site .txt-hero p span{
    display: inline;
}
.hero-site button{
    font-size: 16px;
    width: 150px;
    height: 40px;
}

/* responsivo Vantagem */

 .vantagem .itens-container{
    flex-direction: column;
}
.vantagem .itens-container .imagem-itens img{
    width:100%;
}
.vantagem .itens-container .txt-itens h3{
    text-align: center;
    font-size: 1.5em;
    line-height: 30px;
   
}

.vantagem .itens-container .txt-itens p{
    margin: 30px 0;
    font-size: 16px;
    text-align: center;
    width: 200px;
    text-align: justify;
}
.vantagem .item-1{
    flex-direction: column-reverse;
}

/* responsivo contato */
section.contato{
    background-color: #fff;
    padding: 80px 0;

}
/*Uma das formas de alinhar blocos*/
.contato .txt-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contato .txt-contato h3{
    text-align: center;
    font-size: 1.5em;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.contato .txt-contato p{
    font-size: 16px;
    line-height: 20px;
    width: 200px;
    margin: 20px 20px;
}
.txt-contato, .icons-contato{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.contato .icons-contato button{
    width: 100%;
}
/* responsividade Hoteis */

.hoteis h3{
    color: white;
    font-weight: 300;
    margin-top: 250px;
    font-size: 1.5em;
    line-height: 30px; 
}
.hoteis h3 p{
    font-size: 18px;
    width: 300px;
    line-height: 20px;
    margin-top: 20px;
}
.interface h3 button{
    font-size: 16px;
    margin-top: 40px;
    width: 180px;
    padding: 18px;
}

/* responsividade Como Funciona */
section.como-funciona .interface {
    display: inline-block;
    justify-content: center;
    align-items: center;  
}

.como-funciona .txt-funciona h1{
    font-size: 1em;
    margin-left: 100px;
    margin-top: 20px;
}
article.box-funciona{
    width: 120%;
    margin-right: -20px;   
}
.como-funciona .box-funciona img{
    width: 60px;
    margin-right: 20px;
}
.descricao-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descricao-box h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300; 
}
.descricao-box h3 p{
    font-size: 14px;
    width: 200px;
    margin: 10px 0;
}
/* footer */
footer{
    background-color: black;
    width: 100%;
    height: 360px;
    text-align: center;
    padding: 30px 0;
}
.rede-social {
    margin-top: 10px;
}
.rede-social .social-midia{
    display: block;
 
}
.social-midia a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-right: 00;
}
.social-midia a p{
    margin: 020px;
    font-size: 18px;
}
.rede-social .social-midia i{
    cursor: pointer;
    color: white;
    font-size: 22px; 
    display: inline-block;  
}
.txt-rodape{
    color: white;
    font-size: 1em;
    margin-top: 20px;
}



}