<<<<<<< HEAD
@media screen and (max-width: 980px) {
    header .menu-desktop, header .btn-contato{
        display: none;
    }
    
}
@media screen and (max-width: 1270px){
    /* responsividade Hero */
    .hero-site .txt-hero h1{
    font-size: 2.5em;
    line-height: 45px;

}
.hero-site .txt-hero p{
    font-size: 15px;
    font-weight: 300;
    margin: 20px 0;
    width: 295px;
    text-align: justify;
}
.hero-site .txt-hero p span{
    display: inline;
}
.hero-site button{
    font-size: 16px;
}
/* responsivo Vantagem */

 .vantagem .itens-container{
    flex-direction: column;
}
.vantagem .itens-container .imagem-itens img{
    width:100%;
}
.vantagem .itens-container .txt-itens p{
    margin-bottom: 20px;
    width: 350px;
    text-align: justify;
}
.vantagem .item-1{
    flex-direction: column-reverse;
}

/* responsivo contato */
section.contato{
    background-color: #fff;
    padding: 80px 0;

}
/*Uma das formas de alinhar blocos*/
.txt-contato, .icons-contato{
    display: block;
    width: 100%;
}
.contato .txt-contato h3{
    font-size: 2em;
    text-align: center;
    line-height: 40px;
}
.contato .txt-contato p{
    margin-bottom: 20px;
}
.contato .icons-contato button{
    width: 100%;
}
/* responsividade Hoteis */


.hoteis h3{
    color: white;
    font-weight: 300;
    margin-top: 200px;
    font-size: 2.3em;
    line-height: 50px; 
}
.hoteis h3 p{
    font-size: 18px;
    width: 300px;
    line-height: 20px;
    margin-top: 10px;
}
.interface h3 button{
    font-size: 16px;
    margin-top: 40px;
    width: 200px;
    padding: 25px;
}
.interface h3 button:hover{
    background-color: white;
    color: black;
}
.hoteis >.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    height: 100%;
    z-index: 1;

}
/* responsividade Como Funciona */
section.como-funciona .interface {
    display: inline-block;
    justify-content: center;
    align-items: center;  
}

.como-funciona .txt-funciona h1{
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
}

article.box-funciona{
    width: 80%;
    margin-right: -20px;   
}
.como-funciona .box-funciona img{
    width: 100px;
}
.descricao-box{
    width: 145%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descricao-box h3{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300; 
}
.descricao-box h3 p{
    font-size: 14px;
    width: 300px;
    margin-top: 15px;
}
/* footer */
footer{
    background-color: black;
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 30px 0;
}
.rede-social {
    margin-top: 10px;
}
.rede-social .social-midia{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
.social-midia a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-right: 00;
}
.social-midia a p{
    margin: 020px;
}

.rede-social .social-midia i{
    cursor: pointer;
    color: white;
    font-size: 25px; 
    display: inline-block;  
}
.rede-social .social-midia i:hover{
    transform: scale(1.2);
    color: violet;
}
.txt-rodape{
    color: white;
    font-size: 1em;
    margin-top: 20px;
}










=======
@media screen and (max-width: 980px) {
    header .menu-desktop, header .btn-contato{
        display: none;
    }
    header .logo img{
    margin-top: -25px;
    width: 50px;
}
    
}
@media screen and (max-width: 1270px){
    /* responsividade Hero */
    .hero-site .txt-hero h1{
    font-size: 1.5em;
    line-height: 30px;

}
.hero-site .txt-hero p{
    font-size: 15px;
    font-weight: 300;
    margin: 20px 0;
    width: 280px;
    text-align: justify;
}
.hero-site .txt-hero p span{
    display: inline;
}
.hero-site button{
    width: 120px;
    height: 40px;
    font-size: 14px;
  
}

/* responsivo Vantagem */

.vantagem .itens-container{
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-bottom: 60px;
}
.vantagem .itens-container .imagem-itens img{
    max-width: 290px;
    border-radius: 10px;
}
.vantagem .itens-container .txt-itens h3{
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 20px;
}
.vantagem .itens-container .txt-itens p{
    text-align: center;
    margin-bottom: 20px;
}
.itens-container-item-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.itens-container-item-1 .imagem-itens img{
    width: 290px;
     box-shadow: rgba(240, 179, 46, 0.4) 5px 5px, rgba(240, 179, 46, 0.4) 10px 10px, rgba(240, 179, 46, 0.4)15px 15px, rgba(240, 140, 46, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
     border-radius: 10px;
     margin-bottom: 50px;
}
.itens-container-item-1 .txt-itens h3{
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 20px;
}
.itens-container-item-1 .txt-itens p{
    text-align: center;
    margin-bottom: 20px;
}

/* responsivo contato */
section.contato{
    background-color: #fff;
    padding: 80px 0;

}
/*Uma das formas de alinhar blocos*/
.txt-contato, .icons-contato{
    display: block;
    width: 100%;
}
.contato .txt-contato h3{
    font-size: 1.5em;
    text-align: center;
    line-height: 30px;
}
.contato .txt-contato h3 p{
    margin: 20px 0;
}
.contato .icons-contato button{
    width: 100%;
}
/* responsividade Hoteis */
.hoteis h3{
    color: white;
    font-weight: 300;
    margin-top: 200px;
    font-size: 1.5em;
    line-height: 30px; 
}
.hoteis h3 p{
    font-size: 18px;
    width: 300px;
    line-height: 20px;
    margin: 10px 0;
}
.interface h3 button{
    font-size: 16px;
    margin-top: 20px;
    width: 180px;
    padding: 15px;
}

/* responsividade Como Funciona */
section.como-funciona .interface {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.como-funciona .txt-funciona h1{
    font-size: 1em;
    margin-top: 30px;
    margin-left: 40px;
}

article.box-funciona{
    width: 70%;
    margin-right: 80px;
}
.como-funciona .box-funciona img{
    width: 80px;
    padding-right: 30px;
}
.descricao-box{
    width: 145%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descricao-box h3{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300; 
}
.descricao-box h3 p{
    font-size: 12px;
    width: 150px;
    margin: 15px 0;
}
/* footer */
footer{
    background-color: black;
    width: 100%;
    height: 420px;
    text-align: center;
    padding: 30px 0;
}
.rede-social {
    margin-top: 40px;
}
.rede-social .social-midia a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin-right: 200px;
}
.social-midia a p{
    margin-top: 20px;
}
.social-midia a p:hover{
    text-decoration: underline;
}
.rede-social .social-midia i{
    cursor: pointer;
    color: white;
    font-size: 20px; 
    display: inline-block;  
}
.txt-rodape{
    color: white;
    font-size: 16px;
    margin-top: 20px;
}











>>>>>>> a554b2a (Atualizando uma nova informação)
}